@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600&family=Amiri:wght@400;700&family=Scheherazade+New:wght@400;700&family=Almarai:wght@300;400;700&display=swap');


p {line-height: 1.5;}

body {
    background: linear-gradient(135deg, #4CAF50, #90CAF9);
    font-family: "Almarai", serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-x: hidden;
}

.learn {background: linear-gradient(90deg, #69d16c, #99b8cc);}

main {
    flex: 1 0 auto;
    position: relative;
    z-index: 1;
    background: transparent;
}

footer {
    position: relative;
    bottom: 0;
    background-color: #29be62;
    color: white;
    padding: 0 50px 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 200px;
    z-index: 2;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section h3 {
    color: white;
    margin-bottom: 5px;
    font-size: 1.1rem;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    width: fit-content;
}

.footer-section a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
}


@media screen and (max-width: 768px) {
    .pc {
        display: none !important;
    }
    .phone {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .section-item {
        font-size: .8rem !important;
        padding: 7px 20px !important;
    }
    .section-item-k {
        font-size: .8rem !important;
        padding: 7px 20px !important;
    }

    .section.active h3{font-size: x-large !important;}
    .section.active h4{font-size: medium !important;}
    .section.active p{font-size: medium !important;}
    .section.active li{font-size: small !important;}
    .section.active {margin-right: -20px !important;}
    .section.active {overflow-x: hidden;}

    .section-k.active h3{font-size: x-large !important;}
    .section-k.active h4{font-size: medium !important;}
    .section-k.active p{font-size: medium !important;}
    .section-k.active li{font-size: small !important;}
    .section-k.active {margin-right: -20px !important;}
    .section-k.active {overflow-x: hidden;}

    .sidebar-toggle {right: 0 !important;}

    .code-container {
        margin-left: -120px !important;
        width: 130% !important;
        font-size: 0.7rem;
    }

    nav .btn {font-size: medium !important;}

    .hero-text , .hero-image {flex: 0 !important;}
    .hero-content {flex-direction: column !important;}
    .hero-image img {max-width: 70% !important;}


    .copy-btn {
        font-size: 8px !important;
        top: 10px !important;
    }

    .card {
        margin-left: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    footer{
        padding: 0 0 10px;
        gap: 50px;
    }

    #back-to-top {
        bottom: 1vh !important;
        right: 1vh !important;
    }
}


a:link {
    color: #fff;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: #d63833;
    background-color: transparent;
}
a:active {
    color: #d63833;
    background-color: transparent;
}

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF50;
    padding: 0 0 10px;
    overflow-x: auto;
    white-space: nowrap;
}

nav .btn {
    width: 150px;
    height: 50px;
    background-color: #4CAF50;
    margin: 0 15px;
    color: #fff;
    position: relative;
    overflow: hidden;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

nav .btn:before,
nav .btn:after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #80ff87;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

nav .btn:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

nav .btn:after {
    left: 0;
    bottom: 0;
}

nav .btn span {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 1;
}

nav .btn span:before,
nav .btn span:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 0;
    background-color: #80ff87;
    transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

nav .btn span:before {
    right: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

nav .btn span:after {
    left: 0;
    bottom: 0;
}

nav .btn p {
    padding: 0;
    margin: 0;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    position: absolute;
    width: 100%;
    height: 100%;
}

nav .btn p:before,
nav .btn p:after {
    position: absolute;
    width: 100%;
    transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
    z-index: 1;
    left: 0;
}

nav .btn p:before {
    content: attr(data-title);
    top: 50%;
    transform: translateY(-50%);
}

nav .btn p:after {
    content: attr(data-text);
    top: 150%;
    color: #80ff87;
}

nav .btn:hover:before,
nav .btn:hover:after {
    width: 100%;
}

nav .btn:hover span {
    z-index: 1;
}

nav .btn:hover span:before,
nav .btn:hover span:after {
    height: 100%;
}

nav .btn:hover p:before {
    top: -80%;
    transform: rotate(10deg);
}

nav .btn:hover p:after {
    top: 50%;
    transform: translateY(-50%);
}

nav .btn.active:before,
nav .btn.active:after {
    width: 100%;
}

nav .btn.active span:before,
nav .btn.active span:after {
    height: 100%;
}

nav .btn.active p:before {
    top: -80%;
    transform: rotate(10deg);
}

nav .btn.active p:after {
    top: 50%;
    transform: translateY(-50%);
}


.main {
    display: none;
    padding: 20px;
}

.main.active {
    display: block;
}

.main.active h2, .main.active h1 {
    text-align: center;
}

.home.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.course {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ddd;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.course-content {
    display: flex;
    height: calc(100vh - 200px);
}


.sidebar {
    direction: ltr;
    position: fixed;
    top: 11vh;
    left: -280px;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    border-right: 2px solid #00c74c;
    transition: left 0.5s ease;
    z-index: 1000;
    border-radius: 0;
    padding: 20px 0;
    overflow-y: auto;
}


.sidebar.open {
    left: 0;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 999;
}

.sidebar-overlay.active {
    display: block;
}

.sidebar-toggle {
    font-size: 40px;
    background: none;
    border: none;
    cursor: pointer;
    color: #fff;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1001;
    transition: opacity 0.5s ease;
}

.sidebar-toggle.hidden {
    opacity: 0;
    pointer-events: none;
}

.sidebar-toggle:focus {
    outline: none;
}

.section-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section-item {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.section-item:hover {
    background-color: #558367;
}

.section-item.active {
    background-color: #19c059;
    color: #fff;
}

.section-content {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

.section {
    display: none;
}

.section.active {
    display: flex;
    flex-direction: column;
}

.section.active h3{font-size: xx-large;}
.section.active h4{font-size: large;}
.section.active p{font-size: large;}

.section-item-k {
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.section-item-k:hover {
    background-color: #558367;
}

.section-item-k.active {
    background-color: #19c059;
    color: #fff;
}

.section-k {
    display: none;
}

.section-k.active {
    display: flex;
    flex-direction: column;
}

.section-k.active h3{font-size: xx-large;}
.section-k.active h4{font-size: large;}
.section-k.active p{font-size: large;}


.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;
}

.pc{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone{
    display: none;
}


.card {
    width: 80%;
    height: auto;
    margin-top: 20px;
    margin-left: 50px;
    padding: 0.5rem;
    background: #263238;
    border-radius: 8px;
    backdrop-filter: blur(5px);
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    overflow: hidden;
    color: #ececec;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
}

.align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
}


.red {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff605c;
}

.yellow {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ffbd44;
}

.green {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #00ca4e;
}

.card h1 {
    text-align: center;
    margin: 1.3rem;
    color: #54c458;
}

.card-img {
    position: absolute;
    top: 0;
    left: 0;
    padding: .8rem;
    width: 50px;
    height: 50px;
}


pre {
    background-color: #fff !important;
    width: 70%;
    direction: ltr;
    border-left: 2px solid #00c74c;
    border-radius: 8px;
}

code {
    font-family: Consolas, "Courier New", monospace;
    color: #d63384;
}


.code-container {
    align-self: center;
    position: relative;
    width: 70%;
    margin-left: 150px;
}

.copy-btn {
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: #19c059;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    z-index: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.copy-btn:hover {
    background-color: #0f7938;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 20px;
    color: #fff;
    text-align: center;
}


.hero-content {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    width: 100%;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-text h1 {
    font-size: xxx-large;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-image {
    flex: 1;
}

.hero-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}


.cards-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 30px;
    width : 95%;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
}

.card-p {
    color: #263238;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    backdrop-filter: blur(6px);
    border: 5px dashed transparent;
    box-shadow: 0 0 0 5px #263238 inset;
    transition: box-shadow 0.6s ease;
}

.card-p:hover {
    box-shadow: 0 0 0 5px #263238 inset, 0 0 0 5px #263238;
}

.large-text-card {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    font-size: 22px;
}


.image-card {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.image-card img {
    max-width: 100%;
    border-radius: 15px;
}


.small-card {
    flex: 1;
    position: relative;
    padding-bottom: 20px;
}

.floating-btn {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #263238;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Almarai", serif;
    transition: all 0.3s ease;
}

.floating-btn:hover {
    background-color: #354147;
    transform: translateX(-50%) scale(1.1);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}


.footer-btn {
    display: flex;
    justify-content: center;
}

.about-project-btn {
    background-color: #263238;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Almarai", serif;
    transition: all 0.3s ease;
}

.about-project-btn:hover {
    background-color: #354147;
    transform: translateX(0) scale(1.1);
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}




@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
  
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
}
}

@keyframes fadeInTop {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in-right,
.fade-in-left,
.fade-in-top,
.fade-in-bottom {
    opacity: 0;
}

.fade-in-right.visible {
    animation: fadeInRight 1s forwards;
}

.fade-in-left.visible {
    animation: fadeInLeft 1s forwards;
}

.fade-in-top.visible {
    animation: fadeInTop 1s forwards;
}

.fade-in-bottom.visible {
    animation: fadeInBottom 1s forwards;
}

.bottom-slow.visible {
    animation: fadeInBottom 1.5s forwards;
}

.bottom-fast.visible{
    animation: fadeInBottom 0.5s forwards;
}

.top-slow.visible {
    animation: fadeInTop 1.5s forwards;
}

.top-fast.visible {
    animation: fadeInTop 0.5s forwards;
}

.right-slow.visible {
    animation: fadeInRight 1.5s forwards;
}

.right-fast.visible {
    animation: fadeInRight 0.5s forwards;
}

.left-slow.visible {
    animation: fadeInLeft 1.5s forwards;
}

.left-fast.visible {
    animation: fadeInLeft 0.5s forwards;
}


#back-to-top {
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    background-color: #263238;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}
  

#back-to-top.show {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
